@import'utilities.css';
:root{
    --primary:#4A47A3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --yellow:#fff48f;
    --redd:#fa5959;
    --orangey:#fed253;
    --parrot:#8ccf4d;
    --granite:#a1a1a1;
    --pinkey:#ffb9b9;
    --obsedian:#2f2e41;
    --rosey:#ff6584;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1300px;
    padding: 0 auto;
    margin: 0 auto;
}
/* CSS FOR THE NAV BAR  */
header nav{
    margin-top: 1rem;
}
header nav .branding{
    font-size: 1.5rem;
    font-family: Raleway;
    font-weight: 600;
    /* text-decoration: none; */
}
header nav .branding a{
    text-decoration: none;
    color: var(--dark);
}
header nav .right a{
    color: var(--dark);
    font-family: Montserrat;
    font-size: 0.7rem;
    font-weight: 600;
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

/* HERO SECTION */
/* THE FIRST PAGE OF WEBSITE  */

.hero .right h1{
    color: var(--primary);
    font-family: Poppins;
}
.hero{
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.hero .right .herorect {
    background-color: var(--primary);
    width: 0.2rem;
    height: 2.9rem;
    border-radius: 4px;
    margin-right: 0.5rem;
}
.hero .right h5{
    font-family: Montserrat;
    font-weight: 600;  
    font-size: 1.6rem;
}
.hero .right h1{
    font-family: Montserrat;
    font-weight: 600;  
    font-size: 3.3rem;
    margin:1rem auto;
}
.hero .right p{
    margin: auto;
    font-size: 1.25rem;
}
.hero .right p span{
    color:var(--dark);
    font-size: 1.2rem;
    font-weight: 600;
}

.hero .left{
    margin-top:2.5rem;
} 

img{
    pointer-events: none; 
    user-select: none;  
}

section.profileSection{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

section.profileSection .left{
    margin-right: 2.5rem;
}
section.profileSection .left h3{
    font-size: 1.25rem;
    font-weight: 400;

}
.profileSection  .left h1{
    font-size: 3.3rem;
    color: var(--dark);
    font-weight: 600;

    text-align: left;
}
.profileSection  .left h2{
    font-size: 2.5rem;
    color: var(--primary);
    text-align: left;

}
.profileSection  .left img{
    margin: 3.5rem 3rem;
}
.profileSection .left h3{
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 100;
}

section.profileSection h4{
    flex-direction: column;
    color: var(--primary);
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 400;
    word-spacing: 0.6rem;
    text-align: center;
}
section.profileSection h4::before{
    content:"\201C";
}
section.profileSection h4::after{
    content: "\201D";
}

.inspire {
    background-color: #000;
    align-items: center;
}
.inspire .container .content h3{
    color: var(--pure);
    text-align: center;
    font-size: 3.5rem;
    font-family: Poppins;
    font-weight: 400;
    margin-bottom: 5rem;
}
.inspire .container .content h3 span{
    color: #4A47A3;
    font-size: large;
    font-size: 3.5rem;
}
.inspire .container .content .rect{
    justify-content: center;
    background-color: #4040407a;
    height: 40rem;
}
.inspire .container .content .rect h2{
    text-align: center;
    color: gray;
}
.inspire .container .content .rect img{
    display: block;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    width: 6.5rem;
    height: 6.5rem;
}

section.inspire {
     padding: 6rem 0;
 }

section .note{
     color: var(--primary);
     font-family:Montserrat;
     font-size: 1rem;
     font-weight: 400;
     position: relative;
     left: 600px;
     top: 20px;  
 }

 section .section-heading{
     font-size: 2.5rem;
     font-weight: 100;
     font-family: Poppins;
     color: var(--pure);
     text-align: center;
 }
 section .section-heading span{
     color: var(--primary);
 }
 section .connect{
     margin: 4rem auto;
     padding: 5rem auto;
 }
 section .connect .avv{
     align-items: center;
 }
 section .avv h3{
     color: var(--primary);
     margin: 2.5rem auto;
     text-align: center;
     font-size: 4.1rem;
 }
 .avv img{
     display: flex;
     margin-top: 8rem;
     margin-bottom: 10rem;
     margin-left: auto;
     margin-right: auto;
 }
 section .container .msg{
     margin: 3rem auto;
 }
 section .container .msg h2{
     font-size: 1.4rem;
     font-weight: 100;
     padding:5rem;
 }
 section .container .msg span{
     text-transform: uppercase;
     color: var(--primary);
     font-size: 3.3rem;
     font-weight: 400;
 }
section.appreciate{
    background-color: var(--primary);
 }
 section.appreciate h4{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: Poppins;
    text-transform: uppercase;
    word-spacing: 63px;
    color: #B9B7FF;
    text-align: center;
    padding:3rem 0;
 }
 section.appreciate h1{
    font-size: 3.75rem;
    font-weight: 400;
    font-family: Raleway;
    position: absolute;
    justify-content: center;
    word-spacing: 13px;
    color: var(--pure);
    left: 0%;
    right: 0%;
    text-align: center;
    padding-top:4rem;
 }
 section.appreciate img{
     opacity: 10%;
     transform: translate(4%);
     z-index: -1;
 }
 .booster-like{
     /* position: absolute; */
     opacity: unset;
    z-index: -1;
 }


/* LOGIN AND SIGNUP */
/* THIS IS THE CSS FOR LOGIN AND SIGNUP PAGE  */

section .rectOutr{
    height: 38.75rem;
    border-radius: 0.3rem;
    background-color: var(--primary);
    position: relative;
    width: fit-width;
    margin: 2rem auto;
    margin-top:9rem;
}
section .rectOutr .rectInner{
    height: 36rem;
    border-radius: 0.5rem;
    background-color: var(--pure);
    position: relative;
    left: 35%;
    top: 3%;
    width: 32.75rem;    
}

section .rectOutr .rectInner .login{  
    padding: 1rem;
    justify-content: center;
    display: flex;
}
section .rectOutr .rectInner h2{
    font-family: Montserrat;
    color:var(--primary);
    font-weight: 400;
    font-size: 2.6rem;
}

section .rectOutr .rectInner .loginbox {
    margin-top: 3.75rem;
    height: 18.75rem;
    background: var(--pure);
    color: var(--primary);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 1.9rem;
}
  
section .rectOutr .rectInner h1 {
    margin: 0;
    padding: 0 0 1.25rem;
    text-align: center;
    font-size: 1.3rem;
}
  
section .rectOutr .rectInner .loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
  
section .rectOutr .rectInner .loginbox input {
    width: 20.5rem;
    margin-bottom: 1rem;
}
  
section .rectOutr .rectInner .loginbox input[type="text"],
  input[type="password"] {
    border: 0.12rem solid;
    border-radius: 0.3rem;
    padding: 0.3rem;
    background: transparent;
    outline: none;
    height: 1.75rem;
    width: 18.75rem;
    color: var(--primary);
    opacity:64%;
    font-size: 1rem;
}
  
section .rectOutr .rectInner .loginbox input[type="submit"] {
    border: none;
    border-color: var(--primary);
    outline: var(--primary);
    height: 1.9rem;
    color: var(--dark);
    font-size: 1.12rem;
    border-radius: 1.25rem;
    cursor: pointer;
}
section .rectOutr .rectInner .quicklink h1 {
        overflow: hidden;
        text-align: center;
        font-weight: 200;
        font-size: 0.75rem;;
        font-family: Montserrat;
        margin-top: 3rem;
}
      
section .rectOutr .rectInner .quicklink  h1:before,
section .rectOutr .rectInner .quicklink h1:after {
        background-color: #000;
        content: "";
        display: inline-block;
        height: 0.16rem;
        position: relative;
        vertical-align: middle;
        width: 35%;
}
      
section .rectOutr .rectInner .quicklink h1:before {
        right: 0.5em;
        margin-left: -50%;
}
      
section .rectOutr .rectInner .quicklink h1:after {
        left: 0.5em;
        margin-right: -50%;
}
section .rectOutr .rectInner .link{
    border: none;
    justify-content: center;
    padding-left: 2rem;
    height: 1.9rem;
    border-radius: 1.25rem;
    cursor: pointer;
} 


/* GET-STARTED PAGE  */
/* THIS IS THE CSS FOR GET STARTED PAGE  */

section.mainGet-1{
    background-image: url(/images/back-upload.png);
    background-repeat: no-repeat;
    background-position: center;
}
section.mainGet-1 h1{
    color: var(--primary);
    border: var(--dark);
    text-align: center;
    padding: 2rem;
    font-family: Poppins;
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
}
.rect-upload{
    width: 44rem;
    height: 25rem;
    margin: 0 auto;
    /*align-content: center;*/
    background-color:var(--primary);
    border-radius: 31px;
    align-content: center;
    display: flex;
    flex-direction: column;
  justify-content: center;
}
.mainGet-1 .rect-upload h3{
    font-family: Raleway;
    font-size: 21px; /******************* to Rem**************/
    font-weight: 100;
    color: var(--pure);
}
.mainGet-1 .rect-upload h3 span{
    color: #FFF48F;
    font-weight: 400;
}
.mainGet-1 .rect-upload img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainGet-1 h3{
    color: var(--primary);
    text-align: center;
    font-size: 1.31rem;
    font-family: Raleway;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
.form{
    display: block;
    background-color: var(--primary);
    margin: 2rem auto;
    border-radius: 50px;
    width: 80%;
    padding: 6rem 2rem;
    grid-template-columns: repeat(1,8fr);
    word-break: break-word;
}
.form label{
    font-size: 1.5rem;
    color: var(--pure);
}
.form input{
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    opacity: 64%; 
    outline: none;
    padding: 0.1rem;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 400;
    color: var(--dark);
    width: 70%;
    height: 3rem;
}
.form a{
    float:right;
    clear:right;
}

/* GET STARTED PAGE SECOND */
/* HERE GOES THE CODE FOR SECOND PAGE OF GETSTARTED */

.tags{
    background-color: var(--primary);
    margin: 1rem auto;
    border-radius: 50px;
    width: 74%;
}
.tags .tag-warp label{
    color: var(--pure);
    font-size: 2rem;
    /* margin-bottom: 6rem; */
}
.tags .tag-warp{
    background-color: var(--primary);
    margin: auto auto;
    border-radius: 50px;
    width: 80%;
    padding: 3rem 3rem;
    display: block;
}
.tag-warp input{
    width: 730px;
    height: 500px;
    color: var(--primary);
    font-size: 3rem;
    border: none;
    opacity: 64%;
    outline:none;
    border-radius: 20px;
    margin: auto;
}
.tags a img{
    position: absolute;
    right: 31rem;
    top:107%;
}

/* GET STARTED PAGE 3 */

.GetMain{
    background-image: url('/images/back-upload.png');
}
.GetMain h1{
    color: var(--primary);
    border: var(--dark);
    text-align: center;
    padding: 2rem;
    font-family: Poppins;
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
    position: unset;
}
.getS3{
    flex-direction: column;
}
.GetMain .inpage img{
    position: absolute;
    margin-left: 1rem;
    width: 1087px;
    height: 763px;
}
.inpagebtn{
    font-size: 69px;
    color: var(--primary);
    font-family: Poppins;
    font-weight: 400;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    width: 20rem;
    /* padding-bottom: 3rem; */
}
.inpagebtn a{
    padding: 4rem;
}
/* .inpagetext .inpagebtn{
    align-items: center;
    position: absolute;
    margin-top: 4rem;
    margin-left: 10rem;
}
.inpagetext .inpagebtn a{
    size: 3rem  ;
    margin-right: 2.5rem;
} */


/* VIEW PROJECTS PAGE  */
/* THE CSS FOR THE VIEW PROJECT PAGE  */
.some{
    background-color: var(--primary);
}
.some .search{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.some .search input{
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    opacity: 64%;
    margin-top: 0.5rem;
    padding: 0.2rem;
}
.some .icon{
    text-align: center;
}

/* CARDS */

.cardview{
    display: inline-block;
    width: 20%;   
    text-align: center;
    border: var(--primary) 2px solid;
    margin: 1rem 1rem;
}

.cardview img{
    width: 100%;
    overflow: hidden;
}
.cardview .cardcontent{
    text-align: center;
    /* margin: 2px auto; */
}




/* FOOTER  */
/* THIS IS CODE FOR FOOTER,,,,,, */


footer{
    bottom: 0rem;
    width: 100%;
    height: 250px;
    align-items: center;
    color: var(--pure);
    background-color: var(--dark);
    display: block;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
footer .footerCol1 a{
    font-size: 2rem;
    color: var(--pure);
    text-decoration: none;
    padding-bottom: 1rem;
}
footer .footerCol1{
    width: 24.6%;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}
footer .footerCol1 h2{
    /* vertical-align: bottom; */
    margin-top: 5.8rem;
    font-weight: 200;
    font-size: 17px;
}

footer .footersocial a{
    text-decoration: none;
    color: var(--pure);
}
.footersocial h4{
    font-size: 2rem;
}
.footersocial{
    width: 25%;
    padding: 0 15px;
    font-size: 1rem;
}
.footersocial ul{
    list-style: none;
    margin: 0 0 3px 0;
    padding: 1rem;
}

.footerCol1 .copyright{
    padding-top: 1rem;
}

/* ABOUT SECTION  */
/* THIS THE CSS FOR ABOUT SECTION */

.about-section h1{
    margin-top: 3rem;
    font-family: Poppins;
    font-weight: 200;
    font-size: 3.3rem;
}
section.aboutMain .AboutText{
    font-family: Poppins;
    font-size: 3.313rem;
    margin-top: 5.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary);
    font-weight: 300;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.45);
}
.rectOutr_about{
    height: 580px;
    border-radius: 5px;
    background-color: var(--primary);
    position: relative;
    width: fit-width;
}
.rectOutr_about h6{
    font-size: 5rem;
    word-spacing: 0.1rem;
    font-family: Poppins;
    font-weight: 400;
    padding:4.5rem 0;
    line-height: 7rem;
    color: var(--pure);
}
.a  out-section span{
    color: #413c69;
}
.aboutMain .bottomText{
    margin-top:1.5rem;
}
.aboutMain h4{
    font-family: Raleway;
    text-align: right;
}
.aboutMain h2{
    font-family:Montserrat;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}
.aboutMain h2::before{
    content: '\201C';
    font-size: 3rem;
    color: var(--primary);
}